# Import text file

In [736]:
filepath = "resources_sql_jupyter_notebooks_pandas.md"
data = ""
with open(filepath, 'r') as f:
    data = f.read()
print(data[:500])

Querying A MySQL Table Using PyMySQL
Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ
https://pythontic.com/database/mysql/query%20a%20table
Avi: well-written useful clear would-recommend

PyMySQL Docs Walkthrough Example
Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ
https://pymysql.readthedocs.io/en/latest/user/examples.html
Avi: useful clear would-recommend

Awesome Breakdown of SQLalchemy for SQL queries in Pandas:
Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠâ˜†
https://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/
Avi: high-level useful combo-te

# Split into list of items

In [737]:
entries = data.split("\n\n")
print(entries[:3])

['Querying A MySQL Table Using PyMySQL  \nAvi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ  \nhttps://pythontic.com/database/mysql/query%20a%20table  \nAvi: well-written useful clear would-recommend  ', 'PyMySQL Docs Walkthrough Example  \nAvi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ  \nhttps://pymysql.readthedocs.io/en/latest/user/examples.html  \nAvi: useful clear would-recommend  ', 'Awesome Breakdown of SQLalchemy for SQL queries in Pandas:  \nAvi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠâ˜†  \nhttps://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/  \nAvi: high-level useful combo-technique advanced  ']

In [738]:
current = []
items_dict = {}
for e in entries:
    current.append(e.split("\n"))

In [739]:
print(current[:3])
print(len(current))

[['Querying A MySQL Table Using PyMySQL  ', 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ  ', 'https://pythontic.com/database/mysql/query%20a%20table  ', 'Avi: well-written useful clear would-recommend  '], ['PyMySQL Docs Walkthrough Example  ', 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ  ', 'https://pymysql.readthedocs.io/en/latest/user/examples.html  ', 'Avi: useful clear would-recommend  '], ['Awesome Breakdown of SQLalchemy for SQL queries in Pandas:  ', 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠâ˜†  ', 'https://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/  ', 'Avi: high-level useful combo-technique advanced  ']]
10

In [740]:
for c in range(len(current)):
    items_dict.update({
        str(c):{
        "title":current[c][0],
        "rating":f'{current[c][1]}',
        "address":current[c][2],
        "tags":current[c][3]
    }})

In [741]:
print(items_dict)

{'0': {'title': 'Querying A MySQL Table Using PyMySQL  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ  ', 'address': 'https://pythontic.com/database/mysql/query%20a%20table  ', 'tags': 'Avi: well-written useful clear would-recommend  '}, '1': {'title': 'PyMySQL Docs Walkthrough Example  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠðŸŸŠ  ', 'address': 'https://pymysql.readthedocs.io/en/latest/user/examples.html  ', 'tags': 'Avi: useful clear would-recommend  '}, '2': {'title': 'Awesome Breakdown of SQLalchemy for SQL queries in Pandas:  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠâ˜†  ', 'address': 'https://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/  ', 'tags': 'Avi: high-level useful combo-technique advanced  '}, '3': {'title': 'Pandas to SQL  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠâ˜†  ', 'address': 'https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e  ', 'tags': 'Avi: well-written leap-frogging  '}, '4': {'title': 'Pandas Commands for SQL People  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠðŸŸŠâ˜†  ', 'address': 'https://hackernoon.com/pandas-cheatsheet-for-sql-people-part-1-2976894acd0  ', 'tags': 'Avi: well-written clear  '}, '5': {'title': 'Use SQL queries on a Pandas dataframe  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠâ˜†â˜†  ', 'address': 'https://stackoverflow.com/questions/45865608/executing-an-sql-query-over-a-pandas-dataset  ', 'tags': 'Avi: niche interesting  '}, '6': {'title': 'DB Connection Cursor Explanation  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠâ˜†â˜†  ', 'address': 'https://stackoverflow.com/questions/28530508/select-query-in-pymysql  ', 'tags': 'Avi: foundational  '}, '7': {'title': 'Delete first X lines of a database  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠâ˜†â˜†  ', 'address': 'https://stackoverflow.com/questions/12779978/delete-first-x-lines-of-a-database  ', 'tags': 'Avi: useful SQL atomic how-to  '}, '8': {'title': 'Initial Template for Jupyter Notebook (this was the base we used)  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠâ˜†â˜†  ', 'address': 'https://stackoverflow.com/questions/50973191/connect-to-mysql-db-from-jupyter-notebook  ', 'tags': 'Avi: non-comprehensive useful starter  '}, '9': {'title': 'High level overview of running SQL scripts from Jupyter Notebook, in plain English  ', 'rating': 'Avi: ðŸŸŠðŸŸŠðŸŸŠâ˜†â˜†  ', 'address': 'https://support.labs.cognitiveclass.ai/knowledgebase/articles/831621-access-mysql-from-python-notebook-using-mysqldb  ', 'tags': 'Avi: generalized high-level useful conceptual  '}}

In [742]:
import json

In [743]:
app_json = json.dumps(items_dict)
print(app_json)

{"0": {"title": "Querying A MySQL Table Using PyMySQL  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca  ", "address": "https://pythontic.com/database/mysql/query%20a%20table  ", "tags": "Avi: well-written useful clear would-recommend  "}, "1": {"title": "PyMySQL Docs Walkthrough Example  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca  ", "address": "https://pymysql.readthedocs.io/en/latest/user/examples.html  ", "tags": "Avi: useful clear would-recommend  "}, "2": {"title": "Awesome Breakdown of SQLalchemy for SQL queries in Pandas:  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606  ", "address": "https://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/  ", "tags": "Avi: high-level useful combo-technique advanced  "}, "3": {"title": "Pandas to SQL  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606  ", "address": "https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e  ", "tags": "Avi: well-written leap-frogging  "}, "4": {"title": "Pandas Commands for SQL People  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606  ", "address": "https://hackernoon.com/pandas-cheatsheet-for-sql-people-part-1-2976894acd0  ", "tags": "Avi: well-written clear  "}, "5": {"title": "Use SQL queries on a Pandas dataframe  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ", "address": "https://stackoverflow.com/questions/45865608/executing-an-sql-query-over-a-pandas-dataset  ", "tags": "Avi: niche interesting  "}, "6": {"title": "DB Connection Cursor Explanation  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ", "address": "https://stackoverflow.com/questions/28530508/select-query-in-pymysql  ", "tags": "Avi: foundational  "}, "7": {"title": "Delete first X lines of a database  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ", "address": "https://stackoverflow.com/questions/12779978/delete-first-x-lines-of-a-database  ", "tags": "Avi: useful SQL atomic how-to  "}, "8": {"title": "Initial Template for Jupyter Notebook (this was the base we used)  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ", "address": "https://stackoverflow.com/questions/50973191/connect-to-mysql-db-from-jupyter-notebook  ", "tags": "Avi: non-comprehensive useful starter  "}, "9": {"title": "High level overview of running SQL scripts from Jupyter Notebook, in plain English  ", "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ", "address": "https://support.labs.cognitiveclass.ai/knowledgebase/articles/831621-access-mysql-from-python-notebook-using-mysqldb  ", "tags": "Avi: generalized high-level useful conceptual  "}}

In [744]:
# https://stackoverflow.com/questions/18873066/pretty-json-formatting-in-ipython-notebook
print(json.dumps(items_dict, indent=2))

{
  "0": {
    "title": "Querying A MySQL Table Using PyMySQL  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca  ",
    "address": "https://pythontic.com/database/mysql/query%20a%20table  ",
    "tags": "Avi: well-written useful clear would-recommend  "
  },
  "1": {
    "title": "PyMySQL Docs Walkthrough Example  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca  ",
    "address": "https://pymysql.readthedocs.io/en/latest/user/examples.html  ",
    "tags": "Avi: useful clear would-recommend  "
  },
  "2": {
    "title": "Awesome Breakdown of SQLalchemy for SQL queries in Pandas:  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606  ",
    "address": "https://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/  ",
    "tags": "Avi: high-level useful combo-technique advanced  "
  },
  "3": {
    "title": "Pandas to SQL  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606  ",
    "address": "https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e  ",
    "tags": "Avi: well-written leap-frogging  "
  },
  "4": {
    "title": "Pandas Commands for SQL People  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606  ",
    "address": "https://hackernoon.com/pandas-cheatsheet-for-sql-people-part-1-2976894acd0  ",
    "tags": "Avi: well-written clear  "
  },
  "5": {
    "title": "Use SQL queries on a Pandas dataframe  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ",
    "address": "https://stackoverflow.com/questions/45865608/executing-an-sql-query-over-a-pandas-dataset  ",
    "tags": "Avi: niche interesting  "
  },
  "6": {
    "title": "DB Connection Cursor Explanation  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ",
    "address": "https://stackoverflow.com/questions/28530508/select-query-in-pymysql  ",
    "tags": "Avi: foundational  "
  },
  "7": {
    "title": "Delete first X lines of a database  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ",
    "address": "https://stackoverflow.com/questions/12779978/delete-first-x-lines-of-a-database  ",
    "tags": "Avi: useful SQL atomic how-to  "
  },
  "8": {
    "title": "Initial Template for Jupyter Notebook (this was the base we used)  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ",
    "address": "https://stackoverflow.com/questions/50973191/connect-to-mysql-db-from-jupyter-notebook  ",
    "tags": "Avi: non-comprehensive useful starter  "
  },
  "9": {
    "title": "High level overview of running SQL scripts from Jupyter Notebook, in plain English  ",
    "rating": "Avi: \ud83d\udfca\ud83d\udfca\ud83d\udfca\u2606\u2606  ",
    "address": "https://support.labs.cognitiveclass.ai/knowledgebase/articles/831621-access-mysql-from-python-notebook-using-mysqldb  ",
    "tags": "Avi: generalized high-level useful conceptual  "
  }
}

In [745]:
# https://stackoverflow.com/questions/12739911/how-to-split-a-string-within-a-list-to-create-key-value-pairs-in-python
for (k, v) in items_dict.items():
    s = v['rating']
    s2 = s.strip().split(" ")[1]
    count = 0
    for s in s2:
        if ord(s) == 128970:
            count = count + 1
    #print("count",count)
    v['rating'] = {s.strip().split(" ")[0]:count} # v['rating'] = {s.strip().split(" ")[0]:s.find('ðŸŸŠ')}
    s = v['tags']
    v['tags'] = {s.strip().split(" ")[0]:s.strip().split(" ")[1:]}

In [746]:
print(json.dumps(items_dict, indent=2))

{
  "0": {
    "title": "Querying A MySQL Table Using PyMySQL  ",
    "rating": {
      "\ud83d\udfca": 5
    },
    "address": "https://pythontic.com/database/mysql/query%20a%20table  ",
    "tags": {
      "Avi:": [
        "well-written",
        "useful",
        "clear",
        "would-recommend"
      ]
    }
  },
  "1": {
    "title": "PyMySQL Docs Walkthrough Example  ",
    "rating": {
      "\ud83d\udfca": 5
    },
    "address": "https://pymysql.readthedocs.io/en/latest/user/examples.html  ",
    "tags": {
      "Avi:": [
        "useful",
        "clear",
        "would-recommend"
      ]
    }
  },
  "2": {
    "title": "Awesome Breakdown of SQLalchemy for SQL queries in Pandas:  ",
    "rating": {
      "\u2606": 4
    },
    "address": "https://wellsr.com/python/import-sql-data-query-into-pandas-dataframe-with-sqlalchemy/  ",
    "tags": {
      "Avi:": [
        "high-level",
        "useful",
        "combo-technique",
        "advanced"
      ]
    }
  },
  "3": {
    "title": "Pandas to SQL  ",
    "rating": {
      "\u2606": 4
    },
    "address": "https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e  ",
    "tags": {
      "Avi:": [
        "well-written",
        "leap-frogging"
      ]
    }
  },
  "4": {
    "title": "Pandas Commands for SQL People  ",
    "rating": {
      "\u2606": 4
    },
    "address": "https://hackernoon.com/pandas-cheatsheet-for-sql-people-part-1-2976894acd0  ",
    "tags": {
      "Avi:": [
        "well-written",
        "clear"
      ]
    }
  },
  "5": {
    "title": "Use SQL queries on a Pandas dataframe  ",
    "rating": {
      "\u2606": 3
    },
    "address": "https://stackoverflow.com/questions/45865608/executing-an-sql-query-over-a-pandas-dataset  ",
    "tags": {
      "Avi:": [
        "niche",
        "interesting"
      ]
    }
  },
  "6": {
    "title": "DB Connection Cursor Explanation  ",
    "rating": {
      "\u2606": 3
    },
    "address": "https://stackoverflow.com/questions/28530508/select-query-in-pymysql  ",
    "tags": {
      "Avi:": [
        "foundational"
      ]
    }
  },
  "7": {
    "title": "Delete first X lines of a database  ",
    "rating": {
      "\u2606": 3
    },
    "address": "https://stackoverflow.com/questions/12779978/delete-first-x-lines-of-a-database  ",
    "tags": {
      "Avi:": [
        "useful",
        "SQL",
        "atomic",
        "how-to"
      ]
    }
  },
  "8": {
    "title": "Initial Template for Jupyter Notebook (this was the base we used)  ",
    "rating": {
      "\u2606": 3
    },
    "address": "https://stackoverflow.com/questions/50973191/connect-to-mysql-db-from-jupyter-notebook  ",
    "tags": {
      "Avi:": [
        "non-comprehensive",
        "useful",
        "starter"
      ]
    }
  },
  "9": {
    "title": "High level overview of running SQL scripts from Jupyter Notebook, in plain English  ",
    "rating": {
      "\u2606": 3
    },
    "address": "https://support.labs.cognitiveclass.ai/knowledgebase/articles/831621-access-mysql-from-python-notebook-using-mysqldb  ",
    "tags": {
      "Avi:": [
        "generalized",
        "high-level",
        "useful",
        "conceptual"
      ]
    }
  }
}