# SQL Queries from Jupyter Notebook

Given a set of SQL instructions, can you connect to an empty database made in MySQL Workbench?

Activity name: **"Create a Database of Students and Courses"**

Ingredients:
- MySQL Workbench
- Jupyter Notebook
- MCSTUDENTS.sql script file

### Step 1: Make a new database in MySQL Workbench

```sql
CREATE database People;
use People;

CREATE TABLE MCStudents (
	ID int NOT NULL AUTO_INCREMENT,
    FirstName varchar(255) NOT NULL,
    LastName varchar(255),
    Address varchar(255),
    City varchar(255),
    State varchar(255),
    ZIP varchar(255),
    Phone varchar(255),
    PRIMARY KEY (ID)
);
```

### Step 2: Now, in a Jupyter NB, import useful libraries

In [ ]:
import os
import pymysql
import pandas as pd

### Step 3: To connect to the DB, get req. parameters

In [ ]:
# every computer has what are called "environment variables"
# try typing "set" into your computer's command line (CMD) to inspect
# host refers to the computer you are on
host = os.getenv('MYSQL_HOST') # if doesn't work, try: "localhost"
# ports are connections or doorways to programs
port = os.getenv('MYSQL_PORT') # always 3306, this is the standard (1521 for Oracle)
user = os.getenv('MYSQL_USER') # we use "root" (not "secure")
#password = os.getenv('MYSQL_PASSWORD') # this may or may not be set
password = "password" # password for the local machine here is "password"
database = os.getenv('MYSQL_DATABASE') # the DB is always running & listening for queries

### Step 4: Connect to the database

In [ ]:
# The pymysql library offers a "connector" we may use
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd=password,
    db="people",
    charset='utf8mb4')

### Step 5: Test query functionality
- Create a cursor
- Decide what to query
- Execute the query

In [ ]:
# make a cursor
cursor = conn.cursor()

# define a couple queries (insert to create an entry, select to view entries)
queryAddItem = "INSERT INTO MCStudents (FirstName,LastName,Address,City,State,ZIP,Phone) VALUES ('Cynthia','Ratliff','1448 Lorem Avenue','Toledo','PA','340339','594-0126');"
querySelectAll = "SELECT * FROM MCStudents" # see everything

# Execute the query
cursor.execute(queryAddItem)

In [ ]:
# We make another query to view our database table changes
# This wone can be done with a built in Pandas function
snapshot = pd.read_sql_query("SELECT * FROM MCStudents", conn)
snapshot

### Step 6: Clean up test work

In [ ]:
queryDeleteFirstItem = "DELETE FROM MCStudents WHERE ID > 0 LIMIT 1;"
cursor.execute(queryDeleteFirstItem)
snapshot = pd.read_sql_query("SELECT * FROM MCStudents", conn)
snapshot

### Step 7: Read in script with SQL queries

In [ ]:
location = "MCSTUDENTS.sql"
data = "" # we can import this SQL script just like importing/reading in a text file
with open(location, 'r') as f:
    data = f.read()
data[:500] # peek at the first 500 characters of the imported sql script

turns out, the sql script came in with new line characters "\n" so, ~~let's convert them to spaces~~ let's convert them to a list of query strings

In [ ]:
data = data.split("\n") #data = data.replace("\n"," ")
data[:7]

### Step 8: Run queries run

In [ ]:
#cursor.execute(data) # executing all the queries at once doesn't seem to work...
for q in data: # ... a loop performs quite nicely to execute each query one by one
    cursor.execute(q)

In [ ]:
snapshot = pd.read_sql_query("SELECT * FROM MCStudents", conn)
snapshot.tail(10)

### Step 9: Delete all table entries (Optional)

In [ ]:
# to use, uncomment the 4 lines below
#queryDeleteAll = "DELETE FROM MCStudents WHERE ID > 0;"
#cursor.execute(queryDeleteAll)
#snapshot = pd.read_sql_query("SELECT * FROM MCStudents", conn)
#snapshot